GUACAMOLE_VERSION=1.6.0
GUACAMOLE_JSON_SECRET=replace-with-openssl-rand-hex-16
AIVIRTEACH_SESSION_TOKEN=replace-with-openssl-rand-hex-32
AIVIRTEACH_RDP_ALLOWED_CIDRS=192.168.122.0/24
AIVIRTEACH_BROWSER_SESSION_TTL=60
